Welcome to troubLinux

Task 1

In this task, you are have to begin by writing something to WRITEME.txt file and save it. After that, try to remove some text and save it. I believe you will face no issue.

Since you have no issue writing or editing the file, it is time to delete WRITEME.txt

Task 2

You will get task 2 automatically while fixing the issue of task 1.

Task 3

Aren't you annoyed by all gibberish printing on your terminal? Fix it.

Task 4

To be updated
